@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Playwrite+CO:wght@100..400&display=swap');

body {
    font-family: "Inter", sans-serif;
    background-color: rgb(17, 17, 17);

}

header {
    /* padding: 50px 0px; */
    width: 100%;
    /* border: 2px solid red; */
    height: 100%;
    background: linear-gradient(180.00deg, rgba(170, 167, 167, 0.304), rgba(11, 11, 11, 0.986) 100%);
}

.nav,
.banner,
.habit-contant {
    padding-top: 20px;
    width: 85%;
    /* border: 2px solid red; */
    color: white;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#fitness {
    color: rgb(230, 83, 60);
    font-size: 2em;
    font-weight: 800px;
}

#home {
    background-color: rgb(230, 83, 60);
    padding: 10px;
    border-radius: 10px;
    width: 60px;
    text-align: center;
}

.nav-menu ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    list-style: none;
}

.nav-icon {
    display: none;
}

/* --------------------Banner section---------------------- */
.banner {
    /* margin-top: 10px; */
    display: flex;
    /* justify-content: space-between; */
    /* align-items: center; */
}

.banner-container {
    color: white;
    width: 50%;
    /* border: 2px solid salmon; */
}

.banner-container h2 {
    font-size: 4rem;
}

.banner-container p {
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.5);
}

.banner-btn1 {
    background-color: rgb(230, 83, 60);
    border-radius: 10px;
    border: none;
    padding: 10px;
    width: 160px;
    height: 30px;
    margin-right: 10px;
    color: white;
    font-weight: 400;
    font-size: medium;
}

.banner-btn2 {
    display: g;
    background-color: rgba(56, 54, 54, 0.297);
    border-radius: 10px;
    border: 1px solid grey;
    padding: 10px;
    width: 160px;
    height: 30px;
    margin-right: 10px;
    color: white;
    font-weight: 400;
    font-size: medium;
}

.btn {
    align-items: center;
    height: 40px;
}

.banner-img {
    /* width: 100%; */
    /* border: 2px solid salmon; */
    margin-right: 50px;
    position: relative;
}

#shape {
    font-family: "Playwrite CO";
    font-weight: 200;
}


.A500 {
    width: 180px;
    background-color: rgba(63, 62, 62, 0.549);
    border-radius: 10px;
    position: absolute;
    top: 120px;
    left: 190px;
    text-align: center;
}

.banner-btns {
    margin-top: 20px;
    display: flex;
}

.A350 {
    width: 180px;
    background-color: rgba(63, 62, 62, 0.549);
    border-radius: 10px;
    position: absolute;
    top: 450px;
    left: -90px;
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.A350 h1 {
    color: rgb(230, 83, 60);
    background-color: rgb(230, 83, 60);
    width: 30px;
    height: 30px;
    border-radius: 50px;
}

/* ------------- Change Your Habits ---------------- */

.habit-section {
    width: 100%;
    /* border: 2px solid red; */
    height: 100%;
    text-align: center;
}

.habit-section div p {
    color: rgba(255, 255, 255, 0.5);
}

.habit-section div h2 {
    color: white;
    font-size: 2rem;
}

.habit-contant {
    /* border: 2px solid red; */
    margin-top: 50px;
}

.habit-img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    /* border: 1px solid red; */
}

.habit-contant h4 {
    color: white;
    font-size: 20px;
}

.habit-contant p {
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.5);
}

/* ------------- Run section ------------------ */



.run-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(63, 62, 62, 0.549);
    border-radius: 16px;
    width: 85%;
    margin: 0px auto;
    margin-top: 50px;
    margin-bottom: 50px;
}


.run-contant {
    width: 90%;
    margin: 50px;
}


.run-title h2 {
    color: white;
    font-size: 3rem;
    padding: 0px;
}

.run-title p {
    font-size: 1rem;
    padding-bottom: 10px;
    color: rgba(255, 255, 255, 0.5);
}

#bt {
    margin-top: -50px;
}

.banner-btn3 {
    background-color: rgb(230, 83, 60);
    border-radius: 10px;
    border: none;
    padding: 10px;
    width: 50%;
    height: 30px;
    margin-right: 10px;
    color: white;
    font-weight: 700;
    font-size: medium;
}

.btn {
    height: 50px;
    margin-top: 50px;
}

.run-img{
    width: 100%;
}

#imgs {
    width: 350px;
    height: 350px;
    border-radius: 16px;
    margin-right: 50px;
}


/* ------------- Calculator section ------------------ */
.calculator-container {
    width: 100%;
    /* height: 400px; */
    height: 100%;
    background-color: rgb(34, 34, 34);
    /* margin: 20px 0px; */

}

.container {
    width: 85%;
    /* height: 400px; */
    margin: 0px auto;
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
}

.bmi {
    font-size: 2rem;
    color: white;
}

table {
    width: 320px;
}

table,
th,
td {
    border: 1px solid gray;
    border-collapse: collapse;
}


th,
td {
    padding: 10px;
    text-align: left;
}

.BMI {
    color: white;
    font-size: 20px;
}

td {
    color: gray;
    font-weight: bold;
}

.Bmi {
    color: rgba(111, 109, 109, 0.956);
}

.calculate {
    /* border: 1px solid gray; */
    width: 100%;
    margin-left: 5px;
}

.calculator {
    width: 100%;

}

.input {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.haff {
    border-radius: 8px;
    height: 40px;
    border: none;
    padding-left: 10px;
    font-weight: 800;
    background-color: rgba(87, 86, 86, 0.546);
    font-size: medium;
    color: azure;
    width: 190%;
}

.box {
    position: relative;
}

.box2 {
    position: relative;
}

.icon {
    color: white;
    position: absolute;
    left: 220px;
    top: 10px;
}

.icon2 {
    color: white;
    position: absolute;
    left: 520px;
    top: 20px;
}

.full {
    margin-top: 5px;
    width: 97%;
}

.late-btn {
    margin-top: 10px;
    /* width: 50%; */
    background-color: rgb(230, 83, 60);
    border-radius: 20px;
    border: none;
    padding: 10px;
    width: 60%;
    height: 40px;
    margin-right: 10px;
    color: white;
    font-weight: 700;
    font-size: large;
    margin-bottom: 10px;
}


/* --------------- our team section ---------- */
.team-section {
    background-color: rgba(63, 62, 62, 0.549);
    border-radius: 16px;
    width: 85%;
    margin: 0px auto;
    margin-top: 50px;
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 10px;
}

.cart-img {
    width: 100%;
    height: 300px;
    border-radius: 10px;
    
}

.cart {
    position: relative;
border-radius: 10px;
}

.cart-text {
    position: absolute;
    padding-top: 200px;
    padding-left: 30px;
    /* height: 300px; */
    inset: 0;
    /* top: 200px;
    left: 30px; */
    color: white;
    background-color: rgba(0, 0, 0, 0.305);
    border-radius: 10px;
}

#p1 {
    font-size: 20px;
    font-weight: 700;
}

#p2 {
    color: rgba(161, 159, 159, 0.802);
    font-weight: 600;
}



/*---------------- footer section ------------ */
#get {
    font-size: 20px;
    color: white;
}

.footer-heading  p{
    font-size: 16px;
    color: rgba(255, 255, 255, 0.5);
}

.footer-p p {
    font-size: 18px;
    color: rgba(255, 255, 255, 0.5);
}

.footer-container{
    width: 85%;
    m
}

#fit {
    color: rgb(230, 83, 60);
    font-size: 4em;
    font-weight: 800px;
}











/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

@media screen and (max-width : 576px) {
    .nav-menu {
        display: none;
    }

    .nav-icon {
        display: block;
        font-size: 2rem;
    }

    .banner {
        flex-direction: column;
    }

    .banner-btns {
        justify-content: space-between;
    }

    .banner-container h2 {
        font-size: 3rem;
    }

    .banner-container {
        color: white;
        width: 100%;

    }

    .banner-img {
        margin-right: 0px;
    }

    .A350 {
        top: 450px;
        left: -10px;
    }

    .habit-contant {
        flex-direction: column;
    }

    .contant {
        margin-bottom: 20px;
    }

    .run-section {
        flex-direction: column;
        width: 100%;
    }

    .btn {
        display: flex;
        justify-content: center;
    }

    .banner-btn3 {
        width: 80%;
    }

    #imgs{
        margin-right: 0px;
        margin-bottom: 50px;
    }
    .container {
        flex-direction: column;
    }

    .input {
        /* grid-template-columns: repeat(1, 1fr); */
    }

    .icon {
        left: 130px;
    }

    .icon2 {
        left: 300px;
    }

    .calculator {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .team-section {
        grid-template-columns: repeat(1, 1fr);
    }

    .aligns {
        align-items: start;
    }
}